@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide {
  animation: slide 0.3s ease-out;
}
